<div class="modal-header">
  <h4 class="modal-title">Sign in</h4>
</div>
<form #formGroup="ngForm" (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div class="container">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" required validEmail [(ngModel)]="formUsername" name="email" #email="ngModel" [ngClass]="{ 'is-invalid': email.dirty && email.invalid }">
        <div *ngIf="email.dirty && email.invalid" class="invalid-feedback">
          <div *ngIf="email.errors.validEmail">Email must be a valid email address</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" [(ngModel)]="formPassword" name="password" required>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" [disabled]="!formGroup.valid">
      Login
    </button>
  </div>
  <div *ngIf="showAlert" class="alert alert-danger" role="alert">
    <strong>Oh snap!</strong> Change a few things up and try submitting again.
  </div>
</form>