<ng-sidebar-container style="height: 100vh;">
  <!-- Sidebar -->
  <ng-sidebar mode="push" [(opened)]="sidebar_opened">
    <div>
      <h4 closeSidebar class="sidebarX">
        <span>&#10799;</span> Filters </h4>
      <hr>
      <!-- Search form -->
      <div class="">
        <input class="form-control sidebarSearch" type="text" placeholder="Search" aria-label="Search">
      </div>

      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Hubs">
              <ng-template ngbPanelContent>
                  <ul>
                      <li><input class="form-control sidebarSearch" type="text" placeholder="Search" aria-label="Search"></li>
                      <li *ngFor="let hub of hubs"><label class="sidebarCheckbox"><input type="checkbox" class="sidebarCheckbox"/> {{hub.name}} </label></li>
                    </ul>
              </ng-template>
          </ngb-panel>
          <ngb-panel title="Tags">
              <ng-template ngbPanelContent>
                  <ul>
                      <li><input class="form-control sidebarSearch" type="text" placeholder="Search" aria-label="Search"></li>
                      <li *ngFor="let tag of tags"><label class="sidebarCheckbox"><input type="checkbox" class="sidebarCheckbox"/> {{tag}} </label></li>
                      </ul>
                </ng-template>
          </ngb-panel>
        </ngb-accordion>
    </div>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="col-md-2">
      <button (click)="_toggleSidebar()" class="{{sidebar_opened ? 'arrow right sidebarToggle' : 'arrow left sidebarToggle'}}"></button>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2">
          <select class="selectpicker pastPicker">
            <option class="dropdown-item">Past 24 hours</option>
            <option class="dropdown-item">Past week</option>
            <option class="dropdown-item">Past month</option>
            <option class="dropdown-item">Past 3 months </option>
            <option class="dropdown-item">Past 6 months </option>
            <option class="dropdown-item">Past year</option>
            <option class="dropdown-item">All time</option>
          </select>
        </div>
        <div class="col-md-2">
          <select class="selectpicker pastPicker">
            <option class="dropdown-item"> Hot </option>
            <option class="dropdown-item"> New </option>
            <option class="dropdown-item"> Top </option>
          </select>
        </div>
      </div>
      <div class="row memeRow" *ngFor="let meme of memes">
        <div class="col-sm-1 voteCol">
          <div class="midcol unvoted">
            <!-- <button type="button" class=""> -->
                <i class="arrow up"></i>
            <!-- </button> -->
            <div class="score">SCORE</div>
            <!-- <button type="button" class=""> -->
                <i class="arrow down"></i>
            <!-- </button> -->
          </div>
        </div>
        <div class="col-md-2 memeCol">
          <div class="text-center thumbDiv">
            <a class="thumbLink" routerLink="/detail/{{meme.id}}">
              <img src="{{meme.image}}" class="img-fluid memeImg" alt="{{meme.name}}">
            </a>
          </div>
        </div>
        <div class="col-md-9 detailCol">
          <ul>
            <li>
              <a class="titleLink" routerLink="/detail/{{meme.id}}">{{meme.name}}</a>
            </li>
            <li>
              <p class="date">{{meme.born}} - {{meme.died}}</p>
            </li>
            <li>
              <p>Submitted by
                <span>
                  <a href="" class="detailLink"> USER </a>
                </span>
                <span>at DATEADDED to </span>
                <a href="" class="detailLink"> HUB</a>
              </p>
            </li>
            <li>
              <a *ngFor="let memetag of meme.tags" href="" class="detailLink"> {{memetag}} </a>
            </li>
            <li>
              <a class="additionalLink" routerLink="/detail/{{meme.id}}"> NUMCOM comments </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-sidebar-container>