<ng-sidebar-container style="height: 100%;">
  <!-- Sidebar -->
  <ng-sidebar mode="push" [(opened)]="sidebar_opened">
    <div>
      <h5 closeSidebar class="sidebarX">
        <span>&#10799;</span> Filters </h5>
      <hr>
      <!-- Search form -->
      <div class="">
        <app-meme-search *ngIf="!showMemesOfTheDay" [memes]="memes" (searchEvent)="receiveMemeSearch($event)"></app-meme-search>
        <app-memeoday-search *ngIf="showMemesOfTheDay" [memesoday]="memesoday" (searchEvent)="receiveMemeodaySearch($event)"></app-memeoday-search>
      </div>
      <!-- Accordion options -->
      <ngb-accordion #acc="ngbAccordion">
          <ngb-panel title="Hubs">
              <ng-template ngbPanelContent>
                  <ul>
                      <li><app-hub-search [hubs]="hubs" (searchEvent)="receiveHubSearch($event)"></app-hub-search></li>
                      <li *ngFor="let hub of filteredHubs"><label class="sidebarCheckbox"><input type="checkbox" (change)="toggleHub(hub)" class="sidebarCheckbox"/> {{hub.name}} </label></li>
                    </ul>
              </ng-template>
          </ngb-panel>
          <ngb-panel title="Tags">
              <ng-template ngbPanelContent>
                  <ul>
                      <li><app-tag-search [tags]="tags" (searchEvent)="receiveTagSearch($event)"></app-tag-search></li>
                      <li *ngFor="let tag of filteredTags"><label class="sidebarCheckbox"><input type="checkbox" (change)="toggleTag(tag)" class="sidebarCheckbox"/> {{tag.name}} </label></li>
                      </ul>
                </ng-template>
          </ngb-panel>
          <ngb-panel title="Other">
              <ng-template ngbPanelContent>
                  <ul>
                      <li><label class="sidebarCheckbox">
                        <input type="checkbox" name="showMemesOfTheDay" [(ngModel)]="showMemesOfTheDay" (change)="filterMemes()" class="sidebarCheckbox"/> Memes of the day
                      </label></li>
                    </ul>
              </ng-template>
          </ngb-panel>
        </ngb-accordion>
    </div>
  </ng-sidebar>
  <!-- Page content -->
  <div ng-sidebar-content>
    <div class="col-md-2">
      <button (click)="_toggleSidebar()" class="{{sidebar_opened ? 'arrow right sidebarToggle' : 'arrow left sidebarToggle'}}"></button>
    </div>
    <div class="container">
      <!-- Time selector -->
      <div class="row">
        <div class="col-md-2">
          <select class="selectpicker pastPicker" (change)="selectTime($event)">
            <option class="dropdown-item" [value]="'day'">Past 24 hours</option>
            <option class="dropdown-item" [value]="'week'">Past week</option>
            <option class="dropdown-item" [value]="'month'">Past month</option>
            <option class="dropdown-item" [value]="'3months'">Past 3 months </option>
            <option class="dropdown-item" [value]="'6months'">Past 6 months </option>
            <option class="dropdown-item" [value]="'year'">Past year</option>
            <option class="dropdown-item" selected [value]="'all'">All time</option>
          </select>
        </div>
        <!-- Trend selector -->
        <div class="col-md-2">
          <select class="selectpicker trendPicker" (change)="selectTrend($event)">
            <option class="dropdown-item" selected [value]="'new'"> New </option>
            <option class="dropdown-item" [value]="'old'"> Old </option>
            <!-- <option class="dropdown-item" [value]="'hot'"> Hot </option> -->
            <option class="dropdown-item" [value]="'top'"> Top </option>
          </select>
        </div>
      </div>
      <div class="row memeRow" *ngFor="let meme of (filteredMemes | memeFilter:  filteredMemesoday : checkedHubs : checkedTags : showMemesOfTheDay : selectedTrend : selectedTime)">
        <div class="col-sm-1 voteCol">
          <div class="midcol unvoted text-center">
            <!-- <button type="button" class=""> -->
                <i class="arrow up"></i>
            <!-- </button> -->
            <div class="score">{{meme.upvotes - meme.downvotes}}</div>
            <!-- <button type="button" class=""> -->
                <i class="arrow down"></i>
            <!-- </button> -->
          </div>
        </div>
        <div class="col-md-2 memeCol">
          <div class="text-center thumbDiv">
            <a class="thumbLink" routerLink="/m/{{meme.id}}">
              <img src="{{meme.image}}" class="img-fluid memeImg" alt="{{meme.name}}">
            </a>
          </div>
        </div>
        <div class="col-md-9 detailCol">
          <ul>
            <li>
              <a class="titleLink" routerLink="/m/{{meme.id}}">{{meme.name}}</a>
            </li>
            <li>
              <p class="date">{{meme.born}} - {{meme.died}}</p>
            </li>
            <li>
              <p>Submitted by
                <span>
                  <a href="" class="detailLink"> {{meme.creator.accountName}} </a>
                </span>
                <span>{{howLongAgo(meme.date_submitted)}} ago to </span>
                <a href="" class="detailLink"> {{meme.hub.name}}</a>
              </p>
            </li>
            <li>
              <a *ngFor="let memetag of meme.tags" href="" class="detailLink"> {{memetag.name}} </a>
            </li>
            <li>
              <a class="additionalLink" routerLink="/m/{{meme.id}}"> NUMCOM comments </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</ng-sidebar-container>